body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  ftext-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
}

a,
a:active,
a:link,
a:hover {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Exo", sans-serif;
}

.mid {
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h4 {
  color: #E7989D;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.2em;
}

h2 {
  color: #282828;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 50px;
}

h5 {
  font-size: 14px;
  color: #282828;
  line-height: 75px;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #282828;
}

.try {
  text-align: center;
  background: #FF6D6D;
  color: white;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 20px 35px;
  font-size: 16px;
  line-height: 75px;
  margin-bottom: 15px;
  border: 1px solid #FF6D6D;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.try:hover {
  background: transparent;
  color: #FF6D6D;
}

header {
  background: url("../img/headerBG.png") no-repeat;
  background-size: cover;
}

header .mid {
  padding: 220px 195px;
  text-align: center;
}

header h1 {
  color: #282828;
  font-size: 60px;
  line-height: 75px;
  font-weight: 100;
  margin-bottom: 60px;
}

header .play {
  display: block;
  margin-bottom: 40px;
  cursor: default;
}

header .play i {
  background-color: #7F84A1;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 17px 20px;
  color: #F5F6F8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

header .play i:hover {
  background-color: transparent;
  color: #7F84A1;
}

.design .mid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.design .info {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
  padding-bottom: 170px;
  padding-top: 170px;
}

.design p:nth-of-type(1) {
  margin-bottom: 20px;
}

.design .photo {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
  height: auto;
  background-color: #ECECEC;
}

.features {
  overflow: hidden;
  background: #F6F5F3;
}

.features .mid {
  padding-top: 130px;
  padding-bottom: 190px;
  text-align: center;
  position: relative;
}

.features .coffee,
.features .penholder,
.features .earphones {
  position: absolute;
}

.features .coffee {
  opacity: 0.2;
  right: -30px;
  bottom: -140px;
}

.features .penholder {
  left: 10px;
  top: -15px;
}

.features .earphones {
  opacity: 0.6;
  right: 80px;
  top: -30px;
}

.features .featureGroup {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .featureGroup .feature {
  width: -webkit-calc(33.333333333333336% - 30px);
  width: calc(33.333333333333336% - 30px);
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}

.features .featureGroup .feature h3 {
  color: #282828;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 0.04em;
  font-weight: 500;
}

.design_laptop {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/purplebg.png");
  background-position: -670px -200px;
  background-repeat: no-repeat;
}

.design_laptop .mid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.design_laptop .laptop {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.design_laptop .info {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.clients {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/blackbg.png");
  background-size: cover;
}

.clients h3 {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 50px;
}

.clients h4 {
  text-transform: none;
  letter-spacing: 0;
}

.clients .clientsnumber {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.clients .clientsnumber .client {
  width: -webkit-calc(33.333333333333336% - 30px);
  width: calc(33.333333333333336% - 30px);
}

.clients .clientsnumber .client img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.clients .clientsnumber .client img:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.clients .logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.clients .logos div {
  width: -webkit-calc(16.666666666666668% - 30px);
  width: calc(16.666666666666668% - 30px);
}

.clients .logos div:nth-of-type(1) {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
}

.clients .logos div:nth-of-type(5) {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
}

.clients .logos div img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.clients .logos div img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.browser {
  overflow: hidden;
}

.browser .mid {
  padding: 100px 190px 450px 190px;
  text-align: center;
  position: relative;
}

.browser .mid .laptop {
  position: absolute;
  left: 40%;
  margin-left: -300px;
  bottom: -10px;
}

.features_form {
  background-color: #323969;
}

.features_form .mid {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.features_form .inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.features_form .inputs input,
.features_form .inputs a {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
  height: 50px;
  margin-bottom: 30px;
}

.features_form .inputs input {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2);
  padding: 17px;
  color: #282828;
  font-size: 18px;
}

.features_form .inputs input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.features_form .inputs input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.features_form .inputs input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.features_form .inputs input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.features_form .inputs a {
  text-transform: uppercase;
  line-height: 10px;
}

footer .mid {
  padding-top: 85px;
  padding-bottom: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  max-width: 1170px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

footer ul {
  width: -webkit-calc(16.666666666666668% - 30px);
  width: calc(16.666666666666668% - 30px);
  margin-bottom: 20px;
}

footer ul:nth-of-type(1) {
  width: -webkit-calc(33.333333333333336% - 30px);
  width: calc(33.333333333333336% - 30px);
}

footer ul:nth-of-type(4) {
  width: -webkit-calc(33.333333333333336% - 30px);
  width: calc(33.333333333333336% - 30px);
}

footer ul:nth-of-type(4) li:nth-of-type(3) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 80px;
  padding-right: 80px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

footer ul:nth-of-type(4) li:nth-of-type(3) i {
  color: #282828;
  font-size: 18px;
  line-height: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer ul:nth-of-type(4) li:nth-of-type(3) i:hover {
  color: #DDDDE4;
}

footer ul:nth-of-type(4) .inputGroup {
  margin-bottom: 13px;
  position: relative;
}

footer ul:nth-of-type(4) .inputGroup a {
  position: absolute;
  display: inline-block;
  height: 50px;
  background: #E7989D;
  width: 50px;
  line-height: 53px;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer ul:nth-of-type(4) .inputGroup a i {
  color: white;
}

footer ul:nth-of-type(4) .inputGroup a:hover {
  background: rgba(40, 40, 40, 0.05);
  border: 1px solid #E7989D;
}

footer ul:nth-of-type(4) .inputGroup a:hover i {
  color: #E7989D;
}

footer ul:nth-of-type(4) .inputGroup input {
  outline: none;
  border: 1px solid rgba(40, 40, 40, 0.2);
  background: rgba(40, 40, 40, 0.05);
  padding: 13px;
  color: #282828;
  font-size: 16px;
  height: 50px;
}

footer ul:nth-of-type(4) .inputGroup input::-webkit-input-placeholder {
  color: rgba(40, 40, 40, 0.4);
}

footer ul:nth-of-type(4) .inputGroup input::-moz-placeholder {
  color: rgba(40, 40, 40, 0.4);
}

footer ul:nth-of-type(4) .inputGroup input:-ms-input-placeholder {
  color: rgba(40, 40, 40, 0.4);
}

footer ul:nth-of-type(4) .inputGroup input::placeholder {
  color: rgba(40, 40, 40, 0.4);
}

footer ul li {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #282828;
}

footer ul li:nth-of-type(1) {
  font-size: 22px;
  line-height: 50px;
  font-weight: 500;
}

footer ul .sup,
footer ul .about,
footer ul .news {
  padding-bottom: 16px;
}

@media screen and (max-width: 1100px) {
  .mid {
    padding-left: 30px;
    padding-right: 30px;
  }

  .design .mid {
    padding-left: 30px;
    padding-right: 30px;
  }

  .design_laptop .mid {
    padding-left: 30px;
    padding-right: 30px;
  }

  footer .mid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 960px) {
  .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .design .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .design .info {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .design .photo {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .features .featureGroup .feature {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  .design_laptop .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .design_laptop .mid {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .design_laptop .laptop {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .design_laptop .info {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .clients .clientsnumber .client {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  .clients .logos div {
    width: -webkit-calc(33.333333333333336% - 30px);
    width: calc(33.333333333333336% - 30px);
  }

  .clients .logos div:nth-of-type(1) {
    width: -webkit-calc(33.333333333333336% - 30px);
    width: calc(33.333333333333336% - 30px);
  }

  .clients .logos div:nth-of-type(5) {
    width: -webkit-calc(33.333333333333336% - 30px);
    width: calc(33.333333333333336% - 30px);
  }

  .features_form .inputs input,
  .features_form .inputs a {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  footer .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer ul {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  footer ul {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  footer ul:nth-of-type(1) {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  footer ul:nth-of-type(4) {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }

  header .mid {
    padding: 100px 80px;
  }

  header h1 {
    font-size: 48px;
  }

  .browser .mid {
    padding: 70px 90px 0 90px;
  }

  .browser .mid .laptop {
    margin-left: 0;
    position: relative;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .design .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .design_laptop .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer .mid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .design .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .features .featureGroup .feature {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .design_laptop .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .clients .clientsnumber .client {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .features_form .inputs input,
  .features_form .inputs a {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  footer .mid {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer ul {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  footer ul:nth-of-type(1) {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  footer ul:nth-of-type(4) {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }

  .browser .mid {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 960px) and (min-width: 560px) {
  .design_laptop {
    background: #fff;
  }
}